body{
    background-color: #09061C;
    text-align: center;
}
img{
    border-radius: 40%;
    background-color: #625C8B
}
h1 {
    color: #E0DFE2;
}
h1 {
    font-size: 20px;
}

h2
{
    font-size: 10px;
}
h2 {
    color: #A0A1C7;
}